@charset "utf-8";

.header {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.main {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  text-align: center;
  border-top: 1px solid #eaeaea;
}

@media screen and (min-width: 767px) {
  .main {
    width: 50%;
  }
}
